body{
    background-image: url("assets/novo.avif");
    background-size: cover;
    
}

h1{
    text-align: center;
    color: rgb(117, 109, 109);
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
}

p{
    text-align: center;
    color: rgb(117, 109, 109);
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 50px;
    
}

.nome, .email, .telefone{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}

.cpf{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}

.idade{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}

.cidade{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}   

.tipo_residencia{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}   

.possui_quintal{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}

.ja_teve_pet{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}

.quantas_horas_pet_sozinho{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
    
}   
.motivo_adoção{
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}

.concorda_termos{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}

.enviar{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 2px 2px 5px gray;
}